.card {
  width: 280px;
  height: auto;

  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-50, #f2f2f2);

  border-radius: 16px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    width: 171px;
  }

  &_image {
    position: relative;
    z-index: 0;

    width: 100%;
    height: 276px;

    border-radius: 16px;
    overflow: hidden;

    @media screen and (max-width: 767px) {
      width: 171px;
      height: 171px;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }

    &_button {
      display: none;
      position: absolute;
      z-index: 1;

      bottom: 8px;
      right: 8px;

      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }

  &_content {
    width: 100%;
    height: auto;

    padding: 24px;

    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      padding: 16px;
    }

    &_info {
      width: fit-content;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 0;

      p {
        &:first-child {
          color: var(--color-gray-400);
        }
        &:last-child {
          color: var(--color-black);
        }
      }

      &_price {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          &:first-child {
            color: var(--color-gray-400);
          }
          &:last-child {
            color: var(--color-red-400);
          }
        }
      }
    }

    &_button {
      display: flex;
      align-items: center;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}
