.categories {
  display: flex;
  gap: 16px;

  overflow: hidden;
}

.slider {
  width: 100%;
}

.slide {
  width: 100%;

  @media screen and (max-width: 1199px) {
    max-width: 378px;
  }
  @media screen and (max-width: 767px) {
    max-width: 150px;
  }
}
